* {
  background-color: #efefef;
  padding: 5px;
}
/*base*/

body {
  margin: 0 auto;
  width: 960px;
}
/*base*/





a:hover a:visited{
  color: purple;
}
/*base*/

.container .three.columns {
  font-size: small;
  font-weight: bold;
  list-style: none;
  text-indent: 20px;
  width: 160px;
}
/*layout*/
.container .offset-by-three {
  margin-bottom: 20px
  padding-left: 180px;
}
/*layout*/
.centerstuff {
  margin: center;
  width: 100%;
}
/*layout
*/.centerstuff .multiple {
  display: inline-table;
  line-height: 70%;
  list-style: none;
  padding-left: 50px;
  padding-right: 50px;
  text-align: left;
}
/*layout
*/

hr {
  border-bottom-style: 2px solid black;
}
/*layout*/

.header .offset-by-ten {
  padding-left: 600px;
  line-height:10%;
}
/*layout*/

h2 {
  text-decoration: underline;
}
/*module*/

p {
  margin: 0;
  padding: 10px;
}
/*module*/

.header {
  line-height: 30%;
  text-align: right;
}
/*state*/
img.medresize {
  float: left;
  height:200px;
}
/*state*/

img.smresize{
  height: 50px;
  width: auto;
}
/*state*/

#github {
  padding-top: 220px;
  position: relative;
}
/*state*/
